<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LecturerTimetable</servlet-name>
        <servlet-class>controller.LecturerTimetable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScheduleOfWeekStudent</servlet-name>
        <servlet-class>controller.ScheduleOfWeekStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttendentTaking</servlet-name>
        <servlet-class>controller.AttendentTaking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttendanceReport</servlet-name>
        <servlet-class>controller.AttendanceReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttendanceReportForLecture</servlet-name>
        <servlet-class>controller.AttendanceReportForLecture</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentHome</servlet-name>
        <servlet-class>controller.StudentHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LecturerHome</servlet-name>
        <servlet-class>controller.LecturerHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LecturerTimetable</servlet-name>
        <url-pattern>/lecturer-timetable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScheduleOfWeekStudent</servlet-name>
        <url-pattern>/scheduleofweek</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttendentTaking</servlet-name>
        <url-pattern>/attendent_taking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttendanceReport</servlet-name>
        <url-pattern>/attendance_report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttendanceReportForLecture</servlet-name>
        <url-pattern>/attendance_report_for_lecture</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentHome</servlet-name>
        <url-pattern>/student_home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LecturerHome</servlet-name>
        <url-pattern>/lecturer_home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    
    <welcome-file-list>
        <welcome-file>login</welcome-file>
    </welcome-file-list>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
